@use './root.scss';
@use './markdown.scss';
@use './element/custom.scss';
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031;
  width: 100%;
  height: 2px;
  background: rgb(13,148,136);
  opacity: 0.75;
}

::view-transition-old(root),
::view-transition-new(root) {
  mix-blend-mode: normal;
  animation: none;
}

::view-transition-old(root) {
  z-index: 999;
}

::view-transition-new(root) {
  z-index: 1;
}

.dark::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-new(root) {
  z-index: 999;
}
