.prose pre:not(.shiki) {
  padding: 0;
}

.prose .shiki {
  font-family: 'DM Mono', monospace;
  font-size: 1.2em;
  line-height: 1.4;
}

.shiki-light {
  background: #f8f8f8 !important;
}

.shiki-dark {
  background: #0e0e0e !important;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}

// 分割线
.prose hr {
  --un-prose-hr: #75b6d633;
}

// 表格
.prose th {
  background-color: #75b6d655;
}

.prose th,
.prose td {
  border: 1px solid #75b6d677;

  .dark & {
    border: 1px solid #75b6d633;
  }
}

.prose tr {
  border: 1px solid #75b6d677;

  .dark & {
    border: 1px solid #75b6d633;
  }
}

.prose tr:nth-child(2n) {
  background-color: #759dd633;
}

// 标题
.prose h1 {
  display: flex;
  font-size: 1.6em;
}

.prose h2 {
  display: flex;
  font-size: 1.4em;
}

.prose h3 {
  display: flex;
  font-size: 1.3em;
}

.prose h4 {
  display: flex;
  font-size: 1.2em;
}

.prose h5 {
  display: flex;
  font-size: 1.1em;
}

.prose h6 {
  display: flex;
  font-size: 1.1em;
}

.prose :where(img,video):not(:where(.not-prose,.not-prose *)) {
  max-width: 100%;
  margin: auto;
}

.prose a {
  position: relative;
  margin: 0 5px;
  font-weight: 900;
  background: var(--vp-background-rainbow-darker) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;

  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background: var(--vp-background-rainbow-darker);
    opacity: 0.8;
  }
}

.not-chrome .prose a {
  color: var(--vp-rainbow-darker);
  -webkit-text-fill-color: unset !important;
}

.dark .prose a {
  background: var(--vp-background-rainbow-lighter)!important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.not-chrome.dark .prose a {
  color: var(--vp-rainbow-lighter);
  -webkit-text-fill-color: unset !important;
}

// 行内代码
.prose :where(:not(pre) > code):not(:where(.not-prose,.not-prose *)) {
  padding: 1.5px 6px;
  margin: 0 5px;
  font-family: 'DM Mono', monospace !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  background: var(--line-code-bg)!important;
  border-radius: 6px;

  // color:var(--vp-background-rainbow) !important;
  // background: var(--vp-background-rainbow)!important;
}

.prose :where(:not(pre) > code):not(:where(.not-prose,.not-prose *))::before, .prose :where(:not(pre) > code):not(:where(.not-prose,.not-prose *))::after {
  content: '' !important;
}

// 引用
blockquote {
  padding: 0.5em 1em;
  margin: 2em 0 !important;
  font-style: normal !important;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  border-left: 4px solid var(--el-color-primary) !important;
  border-radius: 8px;
  box-shadow: rgba(142, 142, 142, 0.25) 0 6px 15px 0;
}
