.el-message {
  --el-message-bg-color: var(--bg-color-opacity) !important;

  border: none !important;
  box-shadow: 0 2px 6px 0 var(--shadow-color) !important;
}

.el-tag {
  height: 22px;
}

.el-badge {
  width: auto;
  height: 100%;
}

.el-badge__content {
  border: none;
}
